.display {
    background-color: var(--color-gray-700);
    color: var(--color-text-code);
    padding: 1px 3px 2px 4px;
    border-radius: 8px;
}

.display.inline {
    display: inline;
}

.inline.block {
    display: block;
}

.inline.inlineBlock {
    display: inline-block;
}