.wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-gray-700);
    font-size: 1rem;
    padding: 24px;
    text-align: left;
    margin: 24px 0px;
    width: 100%;
    overflow: auto;
}

.codeChunk {

    border-radius: 4px;
    color: var(--color-text-code);
    flex: 1;


}

/* .codeChunk {
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    color: var(--color-text-code);
    background-color: var(--color-gray-700);
    font-size: 1rem;
    padding: 24px;
    text-align: left;
    margin: 24px 0px;
    width: 100%;
} */